
div.test{
	position: relative;
	width : 100%;
	margin-bottom : 3%;

}
body{
	width:100%;
	margin:auto;
	text-align : center;

}

div.row{
	width : 65%;
}

div.lis{
	display : inline-block;
	width : 25%;
	padding-left : 4%;
	padding-right : 4%
}

html{

	background:url(/img/stan.jpg)no-repeat center center fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover;
}

form.for{
	width : 45%;
	display : inline-block;
	vertical-align : middle;
}

div.menu{
	padding : 2%;
	background-color : rgba(200,255,200,0.5);
	padding-bottom : 1%;
}

img.imgmenu{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width : 20%;
}


a.btn-large{
	background-color : white;
	color : green;
	width : 20%;
}

div.detailU{
	width : 30%;
	margin-left : 35%;
	margin-right : 35%;
}

