
div.test{
	position: relative;
	width : 100%;
	margin-bottom : 3%;

}
body{
	width:100%;
	margin:auto;
	text-align : center;

}

div.row{
	width : 65%;
}

html{

	background:url(/img/stan.jpg)no-repeat center center fixed;
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover;
}

form.for{
	width : 45%;
	display : inline-block;
	vertical-align : middle;
}

div.menu{
	background-color : green;
	padding-bottom : 1%;
}

a.btn-large{
	background-color : white;
	color : green;
	width : 15%;
}
